<div class="container">
  <div class="text-center text-success my-3">
    <h1>Register</h1>
  </div>
  <form class="row g-3" [formGroup]="userForm">
    <div class="col-md-4">
      <label for="validationDefault01 " class="form-label form-labelStart">
        First name
      </label>
      <input
        type="text"
        class="form-control"
        id="validationDefault01"
        formControlName="firstName"
        required
        maxlength="25"
        (input)="onInputText($event)"
      />
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['firstName'].touched ||
          userForm.controls['firstName'].dirty
        "
      >
        <div *ngIf="userForm.controls['firstName'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label
        for="validationDefault02"
        class="form-label form-labelStart form-labelStart"
      >
        Last name
      </label>
      <input
        type="text"
        class="form-control"
        id="validationDefault02"
        formControlName="lastName"
        required
        maxlength="25"
        (input)="onInputText($event)"
      />
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['lastName'].touched ||
          userForm.controls['lastName'].dirty
        "
      >
        <div *ngIf="userForm.controls['lastName'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label form-labelStart">
        Email
      </label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">{{ "@" }}</span>
        <input
          type="text"
          class="form-control"
          id="validationDefaultUsername"
          aria-describedby="inputGroupPrepend2"
          formControlName="email"
          required
          maxlength="25"
          (input)="onInputText($event)"
        />
      </div>
      <div style="font-size: 13px">
        <div
          *ngIf="
            isSubmitClick ||
            userForm.controls['email'].touched ||
            userForm.controls['email'].dirty
          "
        >
          <div *ngIf="userForm.controls['email'].hasError('required')">
            <div class="text-danger">*required</div>
          </div>
          <div *ngIf="userForm.controls['email'].hasError('email')">
            <div class="text-danger">* Email Format</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefault04" class="form-label form-labelStart">
        UserType
      </label>
      <select
        class="form-select"
        id="validationDefault04"
        required
        formControlName="userTypeId"
      >
        <option selected disabled value="">Choose User Type</option>
        <option value="1">Admin</option>
        <option value="2">Customer</option>
      </select>
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['userTypeId'].touched ||
          userForm.controls['userTypeId'].dirty
        "
      >
        <div *ngIf="userForm.controls['userTypeId'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefault02" class="form-label form-labelStart">
        Date Of Birth
      </label>
      <input
        type="date"
        class="form-control"
        id="validationDefault02"
        value="Otto"
        formControlName="dateOfBirth"
        [max]="todaysDate()"
        required
      />
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['dateOfBirth'].touched ||
          userForm.controls['dateOfBirth'].dirty
        "
      >
        <div *ngIf="userForm.controls['dateOfBirth'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefault02" class="form-label form-labelStart">
        Mobile
      </label>
      <input
        type="number"
        class="form-control"
        id="validationDefault02"
        value="Otto"
        required
        formControlName="mobile"
        [maxlength]="10"
        (input)="onNumberType($event)"
      />
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['mobile'].touched ||
          userForm.controls['mobile'].dirty
        "
      >
        <div *ngIf="userForm.controls['mobile'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
        <div
          *ngIf="
            !userForm.controls['mobile'].hasError('required') &&
            !isMobileNumberValid
          "
        >
          <div class="text-danger">*Must be 10 digit</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefault03" class="form-label form-labelStart">
        Address
      </label>
      <input
        type="text"
        class="form-control"
        id="validationDefault03"
        required
        formControlName="address"
      />
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['address'].touched ||
          userForm.controls['address'].dirty
        "
      >
        <div *ngIf="userForm.controls['address'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefault04" class="form-label form-labelStart">
        Country
      </label>
      <select
        class="form-select"
        id="validationDefault04"
        required
        (change)="onChangeCountry($event)"
        formControlName="countryId"
      >
        <option selected disabled value="">Choose Country</option>
        <option *ngFor="let con of countryList" value="{{ con.countryId }}">
          {{ con.countryName }}
        </option>
      </select>
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['countryId'].touched ||
          userForm.controls['countryId'].dirty
        "
      >
        <div *ngIf="userForm.controls['countryId'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationDefault04" class="form-label form-labelStart">
        State
      </label>
      <select
        class="form-select"
        id="validationDefault04"
        required
        formControlName="stateId"
      >
        <option selected disabled value="">Choose State</option>
        <option *ngFor="let con of stateList" value="{{ con.stateId }}">
          {{ con.stateName }}
        </option>
      </select>
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['stateId'].touched ||
          userForm.controls['stateId'].dirty
        "
      >
        <div *ngIf="userForm.controls['stateId'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="validationDefault05" class="form-label form-labelStart">
        ZipCode
      </label>
      <input
        type="number"
        class="form-control"
        id="validationDefault05"
        required
        formControlName="zipCode"
        [maxlength]="8"
        (input)="onZipCodeChange($event)"
      />
      <div
        style="font-size: 13px"
        *ngIf="
          isSubmitClick ||
          userForm.controls['zipCode'].touched ||
          userForm.controls['zipCode'].dirty
        "
      >
        <div *ngIf="userForm.controls['zipCode'].hasError('required')">
          <div class="text-danger">*required</div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <label for="validationDefault05" class="form-label">Profile Image</label>
      <div class="input-group">
        <!-- <label class="input-group-text" for="inputGroupFile01">Upload</label> -->
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="form-control"
          id="inputGroupFile01"
        />
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck2"
          required
          formControlName="isChecked"
        />
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>

        <div
          style="font-size: 13px"
          *ngIf="
            isSubmitClick ||
            userForm.controls['isChecked'].touched ||
            userForm.controls['isChecked'].dirty
          "
        >
          <div *ngIf="userForm.controls['isChecked'].hasError('required')">
            <div class="text-danger">*required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-12 my-3">
      <div class="col-2">
        <button
          class="btn btn-primary"
          type="submit"
          (click)="onClickRegitster()"
        >
          Register
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-danger" (click)="onClickClearBtn()">
          Clear
        </button>
      </div>
    </div>
  </form>
  <div>Already have an account? <a routerLink="/auth/Login">Log In</a></div>
</div>

@if (isLoader) {
<!-- <app-loader class="loader-backdrop"></app-loader> -->
<div class="loader-backdrop">
  <div class="loader"></div>
</div>
}

<!-- @if (isLoader) {
<app-loader class="loader-backdrop"></app-loader>
} -->
