<!-- Login 13 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <!-- <div class="text-center mb-3">
                    <a href="#!">
                      <img src="./assets/img/bsb-logo.svg" alt="BootstrapBrain Logo" width="175" height="57">
                    </a>
                  </div> -->
            <h1
              class="fs-6 fw-normal text-center fw-bolder text-secondary mb-4"
            >
              Sign in to your account
            </h1>
            <form>
              <div class="row gy-2 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      name="userName"
                      id="email"
                      placeholder="name@example.com"
                      required
                      formControlName="email"
                    />
                    <label for="email" class="form-label">Email</label>
                  </div>
                </div>

                <div class="input-group flex-nowrap">
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    style="height: 50px"
                    class="form-control"
                    placeholder="Password"
                    aria-label="Password"
                    aria-describedby="addon-wrapping"
                    formControlName="password"
                  />
                  <span
                    class="input-group-text"
                    id="addon-wrapping"
                    (click)="onClickShowPassword()"
                  >
                    <ng-container *ngIf="showPassword; else hidePassword">
                      <i class="fas fa-eye-slash"></i>
                    </ng-container>

                    <ng-template #hidePassword>
                      <i class="fas fa-eye"></i>
                    </ng-template>
                  </span>
                </div>

                

                <div class="col-12">
                  <div class="d-flex gap-2 justify-content-between">
                    <div class="form-check"></div>
                    <a
                      routerLink="/Forget/Password"
                      class="link-primary text-decoration-none"
                      >Forgot password?</a
                    >
                  </div>
                </div>

                <div class="col-12">
                  <div class="d-grid my-3">
                    <button
                      class="btn btn-primary btn-lg"
                      type="submit"
                      (click)="onClickLogIn()"
                    >
                      Log in
                    </button>
                  </div>
                </div>
                <div class="col-12">
                  <p class="m-0 text-secondary text-center">
                    Don't have an account?
                    <a
                      routerLink="/auth/Register"
                      class="link-primary text-decoration-none"
                      >Sign up</a
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- @if (isLoader) {
    <app-loader class="loader-backdrop"></app-loader>
    } -->
</section>
