<div class="card mt-3">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            {{ cartItemsList?.length }} items
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="cartItemsList?.length == 0">
        <h4>There is no product in your cart</h4>
        <div>
          <button
            class="btn btn-secondary mt-3"
            style="font-size: 15px"
            routerLink="/org/Home"
          >
            Add Items In cart
          </button>
        </div>
      </div>
      <div
        class="row border-top border-bottom"
        *ngFor="let cartItem of cartItemsList"
      >
        <div class="row main align-items-center">
          <div class="col-2">
            <ng-container *ngIf="cartItem.productImage; else defaultimg">
              <img
                class="img-fluid"
                width="100px"
                height="100px"
                [src]="cartItem.productImage"
              />
            </ng-container>

            <ng-template #defaultimg>
              <img
                class="img-fluid"
                width="100px"
                height="100px"
                src="images/defaultgrocery.png"
              />
            </ng-template>
          </div>
          <div class="col">
            <div class="row text-muted">{{ cartItem.productName }}</div>
            <div class="row">{{ cartItem.category }}</div>
          </div>
          <div class="col row gap-2">
            <span
              class="decre border rounded-5 col-3 d-flex justify-content-center align-items-center"
              (click)="onClickDecrement(cartItem)"
              >-</span
            >
            <a
              class="border col-4 d-flex justify-content-center align-items-center"
              >{{ cartItem.quntity }}</a
            >
            <span
              class="decre border rounded-5 col-3 d-flex justify-content-center align-items-center"
              (click)="onClickIncrement(cartItem)"
              >+</span
            >
          </div>
          <div class="col">
            $ {{ cartItem.sellingPrice * cartItem.quntity }} &nbsp;&nbsp;
            <span
              class="close"
              style="cursor: pointer"
              (click)="onClickRemoveFromCart(cartItem.cartDetailsId)"
              ><strong>&#10005;</strong></span
            >
          </div>
        </div>
      </div>

      <div class="back-to-shop" routerLink="/org/Home" style="cursor: pointer">
        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <!-- <div class="col" style="padding-left: 0">
          {{ cartItemsList?.length }} items
        </div>
        <div class="col text-right">$ {{ getSubTotal() }}</div> -->
      </div>
      <div class="d-flex justify-content-between">
        <h6>Delivery Address</h6>
        <p
          class="text-primary"
          style="cursor: pointer"
          (click)="openAddressModal()"
        >
          Edit
        </p>
      </div>
      <p>
        {{ address }}, {{ loggedUser?.stateName }},
        {{ loggedUser?.countryName }},
        {{ zipCode }}
      </p>

      <div
        class="row"
        style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
      >
        <div class="col"><strong>SubTotal :-</strong></div>
        <div class="col text-right">
          <strong>$ {{ getSubTotal() }}</strong>
        </div>
      </div>
      <button class="btnPay btn" (click)="openModal()">Checkout</button>
    </div>
  </div>
</div>

<!-- Loader -->
@if (isLoader) {

<div class="loader-backdrop">
  <div class="row text-center">
    <div>Processing Payment</div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="loader"></div>
    </div>
  </div>
</div>
}
<!-- Button trigger modal -->

<!-- Modal for Card -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Card Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <!-- <form [formGroup]="cardDetailsForm">
            <div>
              <label for="exampleFormControlInput1" class="form-label"
                >Cart Number</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0000 0000 0000 0000"
                formControlName="cardNumber"
                [maxlength]="16"
                (input)="onCardNumberInput($event)"
              />
            </div>
            <div class="row gap-3">
              <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label"
                  >Expiry Date</label
                >
                <input
                  type="month"
                  id="expiryDate"
                  name="expiryDate"
                  required
                  maxlength="5"
                  formControlName="expiryDate"
                />
              </div>
              <div class="col-5">
                <label for="exampleFormControlInput1" class="form-label"
                  >CVV</label
                >
                <input
                  type="number"
                  id="expiryDate"
                  name="expiryDate"
                  placeholder="CVV"
                  maxlength="3"
                  formControlName="cvv"
                  [maxlength]="3"
                  (input)="onCardCvvInput($event)"
                />
              </div>
            </div>
          </form> -->
          <!-- Custom Div Containers for Stripe Elements -->
          <div>
            <label for="card-number">Card Number:</label>
            <div id="card-number" #cardNumber></div>
          </div>

          <div>
            <label for="card-expiry">Expiry Date:</label>
            <div id="card-expiry" #expiryInput></div>
          </div>

          <div>
            <label for="card-cvv">CVV:</label>
            <div id="card-cvv" #cvvInput></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="onClickPayBtn()">
          Pay
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Address -->
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="addressModal"
  tabindex="-1"
  aria-labelledby="addressModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModal">Enter Delivery Address</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeAddressModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deliveryAddressForm">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Address</label
            >
            <input
              type="address"
              class="form-control mb-0"
              id="exampleFormControlInput1"
              placeholder="Address"
              formControlName="address"
            />
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Zip Code</label
            >
            <input
              type="number"
              class="form-control mb-0"
              id="exampleFormControlInput1"
              placeholder="XXXXXX"
              formControlName="zipCode"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeAddressModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="deliveryAddressForm.invalid"
          (click)="onClickSaveAddress()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
