<div class="card mt-3">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            {{ cartItemsList?.length }} items
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="cartItemsList?.length == 0">
        <h4>There is no product in your cart</h4>
        <div>
          <button
            class="btn btn-secondary mt-3"
            style="font-size: 15px"
            routerLink="/org/Home"
          >
            Add Items In cart
          </button>
        </div>
      </div>
      <div
        class="row border-top border-bottom"
        *ngFor="let cartItem of cartItemsList"
      >
        <div class="row main align-items-center">
          <div class="col-2">
            <ng-container *ngIf="cartItem.productImage; else defaultimg">
              <img
                class="img-fluid"
                width="100px"
                height="100px"
                [src]="cartItem.productImage"
              />
            </ng-container>

            <ng-template #defaultimg>
              <img
                class="img-fluid"
                width="100px"
                height="100px"
                src="images/defaultgrocery.png"
              />
            </ng-template>
          </div>
          <div class="col">
            <div class="row text-muted">{{ cartItem.productName }}</div>
            <div class="row">{{ cartItem.category }}</div>
          </div>
          <div class="col row gap-2">
            <span
              class="decre border rounded-5 col-3 d-flex justify-content-center align-items-center"
              (click)="onClickDecrement(cartItem)"
              >-</span
            >
            <a
              class="border col-4 d-flex justify-content-center align-items-center"
              >{{ cartItem.quntity }}</a
            >
            <span
              class="decre border rounded-5 col-3 d-flex justify-content-center align-items-center"
              (click)="onClickIncrement(cartItem)"
              >+</span
            >
          </div>
          <div class="col">
            $ {{ cartItem.sellingPrice * cartItem.quntity }} &nbsp;&nbsp;
            <span
              class="close"
              style="cursor: pointer"
              (click)="onClickRemoveFromCart(cartItem.cartDetailsId)"
              ><strong>&#10005;</strong></span
            >
          </div>
        </div>
      </div>

      <div class="back-to-shop" routerLink="/org/Home" style="cursor: pointer">
        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <!-- <div class="col" style="padding-left: 0">
          {{ cartItemsList?.length }} items
        </div>
        <div class="col text-right">$ {{ getSubTotal() }}</div> -->
      </div>
      <h6>Delivery Address</h6>
      <p>
        {{ loggedUser?.address }} {{ loggedUser?.stateName }}
        {{ loggedUser?.countryName }} {{ loggedUser?.zipCode }}
      </p>
      <!-- <form [formGroup]="cardDetailsForm">
        <h6>Delivery Address</h6>
        <p>
          {{ loggedUser?.address }} {{ loggedUser?.stateName }}
          {{ loggedUser?.countryName }} {{ loggedUser?.zipCode }}
        </p>
        <div>
          <div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Card Number</label
              >
              <div>
                <input
                  type="number"
                  class=""
                  name="email"
                  id="exampleFormControlInput1"
                  placeholder="0000 0000 0000 0000"
                  formControlName="cardNumber"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <label for="exampleFormControlInput1" class="form-label"
                  >Expiry Date</label
                >
                <input
                  type="month"
                  id="expiryDate"
                  name="expiryDate"
                  required
                  maxlength="5"
                  formControlName="expiryDate"
                />
              </div>
              <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label"
                  >CVV</label
                >
                <input
                  type="number"
                  id="expiryDate"
                  name="expiryDate"
                  placeholder="CVV"
                  maxlength="3"
                  formControlName="cvv"
                />
              </div>
            </div>
          </div>
        </div>
      </form> -->
      <div
        class="row"
        style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
      >
        <div class="col"><strong>SubTotal :-</strong></div>
        <div class="col text-right">
          <strong>$ {{ getSubTotal() }}</strong>
        </div>
      </div>
      <button class="btnPay btn" (click)="openModal()">Checkout</button>
    </div>
  </div>
</div>

<!-- Loader -->
@if (isLoader) {

<div class="loader-backdrop">
  <div class="loader"></div>
</div>
}
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <form [formGroup]="cardDetailsForm">
            <div>
              <label for="exampleFormControlInput1" class="form-label"
                >Cart Number</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0000 0000 0000 0000"
                formControlName="cardNumber" 
              />
            </div>
            <div class="row gap-3">
              <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label"
                  >Expiry Date</label
                >
                <input
                  type="month"
                  id="expiryDate"
                  name="expiryDate"
                  required
                  maxlength="5"
                  formControlName="expiryDate"
                />
              </div>
              <div class="col-5">
                <label for="exampleFormControlInput1" class="form-label"
                  >CVV</label
                >
                <input
                  type="number"
                  id="expiryDate"
                  name="expiryDate"
                  placeholder="CVV"
                  maxlength="3"
                  formControlName="cvv"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="onClickPayBtn()">
          Pay
        </button>
      </div>
    </div>
  </div>
</div>
