<div class="card mt-3">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            {{ cartItemsList?.length }} items
          </div>
        </div>
      </div>
      <div
        class="row border-top border-bottom"
        *ngFor="let cartItem of cartItemsList"
      >
        <div class="row main align-items-center">
          <div class="col-2">
            <ng-container *ngIf="cartItem.productImage; else defaultimg">
              <img
                class="img-fluid"
                width="100px"
                height="100px"
                [src]="cartItem.productImage"
              />
            </ng-container>

            <ng-template #defaultimg>
              <img
                class="img-fluid"
                width="100px"
                height="100px"
                src="images/defaultgrocery.png"
              />
            </ng-template>
          </div>
          <div class="col">
            <div class="row text-muted">{{ cartItem.productName }}</div>
            <div class="row">{{ cartItem.category }}</div>
          </div>
          <div class="col row gap-2">
            <span
              class="decre border rounded-5 col-3 d-flex justify-content-center align-items-center"
              (click)="onClickDecrement(cartItem)"
              >-</span
            >
            <a
              class="border col-4 d-flex justify-content-center align-items-center"
              >{{ cartItem.quntity }}</a
            >
            <span
              class="decre border rounded-5 col-3 d-flex justify-content-center align-items-center"
              (click)="onClickIncrement(cartItem)"
              >+</span
            >
          </div>
          <div class="col">
            ₹ {{ cartItem.sellingPrice * cartItem.quntity }} &nbsp;&nbsp;
            <span
              class="close"
              style="cursor: pointer"
              (click)="onClickRemoveFromCart(cartItem.cartDetailsId)"
              ><strong>&#10005;</strong></span
            >
          </div>
        </div>
      </div>

      <div class="back-to-shop" routerLink="/org/Home" style="cursor: pointer">
        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <!-- <div class="col" style="padding-left: 0">
          {{ cartItemsList?.length }} items
        </div>
        <div class="col text-right">₹ {{ getSubTotal() }}</div> -->
      </div>
      <form>
        <h6>Delivery Address</h6>
        <p>
          {{ loggedUser?.address }} {{ loggedUser?.stateName }}
          {{ loggedUser?.countryName }} {{ loggedUser?.zipCode }}
        </p>
        <div>
          <div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Card Number</label
              >
              <input
                type="number"
                class="form-control"
                name="email"
                id="exampleFormControlInput1"
                placeholder="0000 0000 0000 0000"
                [(ngModel)]="cardNumber"
              />
            </div>
            <div class="row">
              <div class="col-7">
                <label for="exampleFormControlInput1" class="form-label"
                  >Expiry Date</label
                >
                <input
                  type="month"
                  id="expiryDate"
                  name="expiryDate"
                  required
                  maxlength="5"
                  [(ngModel)]="expiryDate"
                />
              </div>
              <div class="col-4">
                <label for="exampleFormControlInput1" class="form-label"
                  >CVV</label
                >
                <input
                  type="number"
                  id="expiryDate"
                  name="expiryDate"
                  placeholder="CVV"
                  maxlength="3"
                  [(ngModel)]="cvv"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      <div
        class="row"
        style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
      >
        <div class="col"><strong>SubTotal :-</strong></div>
        <div class="col text-right">
          <strong>₹ {{ getSubTotal() }}</strong>
        </div>
      </div>
      <button class="btn" (click)="onClickPayBtn()">Pay</button>
    </div>
  </div>
</div>

<!-- Loader -->
@if (isLoader) {

<div class="loader-backdrop">
  <div class="loader"></div>
</div>
}

<!-- <div class="container">
  <div>
    <div class="card py-4 px-5 row gap-4">
    
      <div class="card" *ngFor="let cartItem of cartItemsList">
        <div class="card-body row">
          <div class="col-4 d-flex justify-content-center">
            <div style="border: 1px solid black" class="rounded-2">
              <ng-container *ngIf="cartItem.productImage; else defaultimg">
                <img
                  [src]="cartItem.productImage"
                  alt=""
                  style="width: 150px; height: 150px"
                />
              </ng-container>

              <ng-template #defaultimg>
                <img
                  src="images/defaultgrocery.png"
                  alt=""
                  width="200px"
                  height="200px"
                />
              </ng-template>
            </div>
          </div>
          <div class="col-8">
            <div style="font-size: 20px">
              <strong>{{ cartItem.productName }}</strong>
            </div>
            <div class="mt-2">
              {{ cartItem.brand }}
            </div>
            <div class="mt-2" style="font-size: 18px; font-weight: bold">
              ₹ {{ cartItem.sellingPrice * cartItem.quntity }}
            </div>
            <div>
              <div
                class="row gap-2 mt-3"
                style="width: 180px; height: 45px; font-size: 25px"
              >
                <div
                  class="col-3 rounded-5 d-flex justify-content-center hover-gray"
                  style="border: 1px solid black; cursor: pointer"
                >
                  -
                </div>
                <div class="col-3">{{ cartItem.quntity }}</div>
                <div
                  class="col-3 rounded-5 d-flex justify-content-center hover-gray"
                  style="border: 1px solid black; cursor: pointer"
                >
                  +
                </div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
